<div class="background scroll-content" style="height: 100%;">
	<ion-card>
		<ion-card-header>
			<b>Login Form</b>
		</ion-card-header>
		<ion-card-content>
			<ion-list no-line style="background-color: transparent;">
				<ion-item color="light" class="mb-2 my-input" style="border-radius: 15px; ">
					<ion-input type="text" placeholder="Username"></ion-input>
				</ion-item>
				<ion-item color="light" class="mb-2" style="border-radius: 15px; ">
					<ion-input type="password" placeholder="Password"></ion-input>
				</ion-item>
				<a>Forgot your password? <b>Get help here</b></a>
				<ion-button class="mt-3"   style="width: 70%;" block outline color="success">Log in</ion-button>
				<p>OR</p>
				<ion-button block style="background-color: #0F9D58;" (click)="loginFacebook()">
					<ion-icon name="logo-facebook"></ion-icon> 	&nbsp; Login with Facebook
				</ion-button>
			</ion-list>
		</ion-card-content>
	</ion-card>
	<button class="bottom" ion-button clear full style="background-color: Transparent; color: whitesmoke;">Don't have an account? Sign up</button>

</div>