<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        Catégories de cours 
      </ion-list-header>

      
      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>
      

      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>

      <ion-item class="ion-activatable ripple-parent" href="/categories">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-avatar slot="start">
          <img src="/../assets/background.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Cardio</h2>
          <h3>Description</h3>
          <p>DescriptionDescriptionDescriptionDescription ...</p>
        </ion-label>
      </ion-item>
    </ion-list>

    
  </ion-content>
</ion-app>