<ion-app>
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="{{user.picture.data.url}}" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{user.name}} - {{user.email}}</h3>
      <h5 class="country">Tunisia</h5>
      <h6 class="ranking">Current ranking: <ion-chip>
        <ion-label>2</ion-label>
        </ion-chip>
      </h6>
    </div>
    <ion-button expand="full" color="primary">something</ion-button>
    <ion-button expand="full" color="secondary">something</ion-button>
    <ion-button expand="full" color="secondary">something</ion-button>
  </div>
</ion-content>

</ion-app>
